
<h1>Angular pipes and json data</h1>
<h3>Usage of Uppercase and lower case pipes</h3>
<h2>while working with json data we should use pipes to achive the desired data as we want!!</h2>
<h1>hiii json</h1>

<h4>{{title | uppercase}}</h4>
<h2>{{title | lowercase}}</h2>

<h1>Number & Dacimal pipe</h1>
<h2>{{count}}</h2>
<h2>{{count | number}}</h2>
<h1>with decimal</h1>
<h2>{{dcValue}}</h2>
<h2>{{dcValue | number:'1.2-2'}}</h2>
<h2>Currency Pipe</h2>
<h3>{{price}}</h3>
<h3>{{price | currency}}</h3>
<h3>{{price | currency:"CAD"}}</h3>
<H3>{{price | currency:"JPY"}}</H3>
<h1>Angular Date pipe</h1>
<h2>{{toDay}}</h2>
<h2>{{toDay | date:'short'}}</h2>
<h2>{{toDay | date:'shortDate'}}</h2>
<h1>Angular JSON pipe</h1>
<h2>{{postObj}}</h2>
<h2>{{postObj | json}}</h2>
<h1>Angular Present pipe</h1>
<h2>{{0.567}}</h2>
<h2>{{0.567 | percent}}</h2>
<h1>Angular Slice Pipe</h1>
<h2>{{objArray}}</h2>
<h2>{{objArray | slice:0:3}}</h2>

<h1>Angulae custom pipe</h1>
<h2>{{userdetails.city | append}}</h2>

<h1>Crating cusom pipe by using angular CLI</h1>
<h2>{{userdetails.city | appendCLI}}</h2>

<h1>Angular custom pipe with arguments</h1>
<p>{{dummyText}}</p>


<h4>i want to pass thesee arguments dynamically like below</h4>
<p>{{dummyText | summary:0}}</p>


<router-outlet></router-outlet>
